* {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
}

body {
    display: flex;
    flex-flow: row;
    padding: 8rem 17rem;
    background-color: #212529;
}

.board {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #6c757d;
    column-gap: .35rem;
    row-gap: .35rem;
    margin: auto;
    position: relative;
}

.winner-line {
    display: none;
    border: none;
    border-radius: 1rem;
    position: absolute;
    background-color: white;
    width: 90%;
    height: .35rem;
    rotate: 0;
    bottom: 50%;
    justify-self: center;
}

.space {
    padding: .5rem;
    background-color: #212529;
    text-align: center;
    width: 5rem;
    height: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 4rem;
}

.space:hover {
    cursor: pointer;
    background-color: #343a40;
}

.information {
    color: white;
    margin: auto;
    background: #343a40;
    border-radius: 2rem;
    padding: 4rem 4rem 2rem;
    text-align: center;
    position: relative;
}

.winner-status {
    color: greenyellow;
}

#help {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#help:hover {
    cursor: pointer;
}

.new-game {
    margin: 1rem auto 0;
    background: #777;
    padding: .75rem;
    border-radius: 2rem;
    font-size: 1.25rem;
}

.new-game-button:hover {
    cursor: pointer;
}

.error {
    display: none;
    color: white;
    background-color: red;
    padding: .25rem;
    border-radius: 0.65rem;
    font-size: 1.125rem;
    margin: .75rem auto 0;
    justify-content: center;
}

@media (max-width : 1200px) {
    body {
        display: flex;
        flex-flow: row;
        padding: 7rem 10rem;
    }
}

@media (max-width : 986px) {
    body {
        display: flex;
        flex-flow: row;
        padding: 5rem 5rem;
    }
}

@media (max-width : 796px) {
    body {
        display: flex;
        flex-flow: column;
        padding: 6rem 3rem;
    }

    .information {
        margin: 2rem auto;
    }
}

@media (max-width : 417px) {
    body {
        display: flex;
        flex-flow: column;
        padding: 7rem 2rem;
    }

    .information {
        margin: 3rem auto;
        padding: 3rem 3rem 1rem;
    }

    #help {
        top: 1rem;
        right: 1rem;
    }
}

@media (max-width : 386px) {
    .information {
        font-size: small;
        padding: 2rem 2rem 1rem;
    }

    .space {
        width: 3.5rem;
        height: 3.5rem;
    }
}